body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  outline: none;
  border: none;
}

::-webkit-scrollbar {
  display: none;
}


.login__container {
  background-color: #f0f2f5;
  display: flex;
  height: 100vh;
  flex-direction: column;
}


.login__logo {
  width: 10.25em;
  padding-left: 2.125em;
}

.login__logo img {
  width: 10.25em !important;
}

.login__welcome {
  text-align: center;
  position: relative;
  margin-top: auto;
}

.login__welcome img {
  width: 18.75rem;
}

.mt-18 {
  margin-top: -1.125rem;
}

.login__welcome p { 
  font-size: 1.5em;
  padding-left: 1.125em;
  width: 108vw;
}

.login__form-container {
  justify-content: center;
  display: flex;
  text-align: center;
  position: relative;
  margin-top: 20vh;
  margin-bottom: 5vh;
}

.login__form {
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 1.25em;
  width: 88vw;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.login__form input {
  border: 1px solid #E5E7EB;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.875em 1em;
  width: 100%;
}

.login__submit-btn {
  background-color:#000000;
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  outline: none;
  padding: 0.875em 1em;
  width: 100%;
}

.login__submit-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.login__forgot-password {
  border-bottom: 1px solid #E5E7EB;
  color: #2563EB;
  display: block;
  font-size: 0.9375em;
  padding: 1.25em 0;
  text-align: center;
}

.login__forgot-password:hover {
  cursor: pointer;
}

.login__signup {
  color: #2563EB;
  display: block;
  font-size: 0.9375em;
  padding: 1.25em 0;
  text-align: center;
}

.login__signup:hover {
  cursor: pointer;
  opacity: 0.8;
}

.loading {
  background-color: rgba(255, 255, 255, .8);
  display: block; /* Hidden by default */
  height: 100%; /* Full height */
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Sit on top */
}

.lds-roller {
  display: inline-block;
  height: 5rem;
  left: 39%;
  position: fixed;
  top: 50%;
  width: 5rem;
  z-index: 100;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* The Modal (background) */
.signup {
  background-color: rgba(255, 255, 255, .8);
  display: block;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 97vw;
  z-index: 1;
  margin-left: 2vw;
}

/* Modal Content/Box */
.signup__content {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: auto;
  width: 24em;
  margin-top: 41vh;
}

.signup__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.signup__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 0.5rem 1.25rem;
}

.signup__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1.25rem 1.25rem 0.5rem 0;
  cursor: pointer;
}

.signup__close img:hover { 
  cursor: pointer;
}

.signup__subtitle {
  background: #E5E7EB;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.signup__form {
  width: 100%;
  padding: 1.25rem;
}

.signup__form input {
  background-color: #F3F4F6;
  border: 1px solid #E5E7EB;
  display: block;
  font-size: 0.9375rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
}

.signup__form select {
  background-color: #F3F4F6;
  border: 1px solid #E5E7EB;
  display: block;
  font-size: 0.9375rem;
  height: 2.625rem;
  margin-bottom: 0.75rem;
  outline: none;
  padding: 0 1rem;
  width: 100%;
}

.signup__btn {
  background-color:#000000;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.25rem auto;
  outline: none;
  padding: 0.875rem 1rem;
  border-radius:21px;
}

.signup__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header {
  background: #000000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 8.5vh;
  width: 100%;
}

.header__left {
  align-items: center;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content max-content;
  padding-left: 0.75rem;
}

.header__left img {
  width: 3.25rem;
}

.header__right {
  align-items: center;
  color: white;
  display: grid;
  grid-gap: 0.75rem;
  grid-template-columns: max-content max-content max-content;
  justify-content: right;
  padding-right: 0.75rem;
}

.header__logout {
  color: #fff;
  left: 30%;
  position: relative;
}

.header__right img {
  width: 1.5rem;
}

.header__logout span:hover {
  cursor: pointer;
  opacity: 0.8;
}

.address { 
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 4px 4px 16px;
  height: 80vh;
  width: 90vw;
  position: relative;
  display: flex;
  z-index: 999;
  flex-direction: column;
  margin: auto;
  margin-top: 4vh;
}
.address__title { 
  align-items: center;
  background-color: #2563EB;
  color: #fff;
  display: grid;
  font-size: 1rem;
  height: 11.875rem;
}

.address__title-container { 
  padding-left: 0.75rem;
  position: relative;
}

.address__title-container p {
  position: relative;
  padding-left: 1.25rem;
  font-size:19px;
}

.address__title-container p:hover {
  cursor: pointer;
}

.address__title-from::before {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  position: absolute;
  top: 43%;
  border-radius: 50%;
  left: 0%;
}

.address__title-to {
  padding-top: 1rem;
}

.address__title-to::before {
  content: "";
  width: 8px;
  height: 8px;
  background: white;
  position: absolute;
  top: 62%;
  border-radius: 50%;
  left: 0%;
}

.search { 
  padding: 0.75rem;
}

.search__input { 
  background: #F3F4F6;
  border: 1px solid #E5E7EB;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  padding: 0.875rem 1rem;
  width: 100%;
  border-bottom: 2px solid #2563EB;
}

.leaflet-routing-container {
  display: none;
}

.pin {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -115px;
  border-radius: 50% 50% 50% 0;
  border: 4px solid red;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg);
}

.pin::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -3px;
  margin-top: -3px;
  background-color: red;
}

.leaflet-default-icon-path {
  background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.search__result {
  max-height: 428px;
  overflow-y: auto;
}

.search__result-item { 
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content auto;
  padding: 0.75rem 0;
  padding-left: 0.5rem;
}

.search__result-item:hover { 
  cursor: pointer;
  background: #F3F4F6;
}

.search__result-icon {
  align-items: center;
  background: #ccc;
  border-radius: 50%;
  display: grid;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.search__result-icon svg {
  fill: #fff;
  height: 0.75rem;
  width: 0.75rem;
}

/* The Modal (background) */
.request-ride {
  background-color: rgba(255, 255, 255, .8);
  display: block; /* Hidden by default */
  height:0%;
  left: 0;
  /* overflow: auto; */
  position: fixed; /* Stay in place */
  top: 37%;
  width: 100%; /* Full width */
  z-index: 1000; /* Sit on top */
}

/* Modal Content/Box */
.request-ride__content {
  background-color: #fefefe;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  margin: 15% auto;
  margin-top: 68%;
  width: 99%;/* Could be more or less, depending on screen size */
}

.request-ride__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 104%;
}

.request-ride__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 0.5rem 1.25rem;
}

.request-ride__close {
  align-items: center;
  display: grid;
  justify-items: right;
  padding: 1.25rem 1.25rem 0.5rem 0;
}

.request-ride__close img:hover { 
  cursor: pointer;
}

.request-ride__subtitle {
  background: #E5E7EB;
  height: 1px;
  margin-bottom: 0.5rem;
  width: 100%;
}

.request-ride__form {
  width: 100%;
  padding: 1.25rem;
  padding-bottom: 0rem;
}

.request-ride__btn {
  background-color:#000000;
  border: 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  margin: 1.25rem auto;
  outline: none;
  padding: 0.875rem 1rem;
}

.request-ride__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.request-ride__change-btn {
  background-color: transparent;
  color: #000;
}

.ride-list { 
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 16px;
  height: 38%;
  left: 2%;
  position: fixed;
  top: 57%;
  width: 96%;
  z-index: 999;
}

.ride-list__container {
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ride-list__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1.25rem 0 1.25rem 1.25rem;
}

.ride-list__content {
  max-height: 100%;
  overflow-y: auto;
}

.ride-list__result-item { 
  border-bottom: 1px solid #ccc;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: max-content auto;
  padding: 0.75rem 0;
  padding-left: 0.5rem;
}

.ride-list__result-item:hover { 
  cursor: pointer;
  background: #F3F4F6;
}

.ride-list__result-icon {
  align-items: center;
  background: #ccc;
  border-radius: 50%;
  display: grid;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem;
}

.ride-list__result-icon svg {
  fill: #fff;
  height: 0.75rem;
  width: 0.75rem;
}

.ride-list__result-label {
  font-size: 0.9375rem;
  padding-bottom: 0.5rem;
}

.ride-list__result-label span {
  color: #000;
  font-weight: 600;
}

.ride-list__accept-btn {
  background: #000;
  border: none;
  color: #fff;
  font-size: 0.9375rem;
  outline: none;
  padding: 0.5rem 1rem;
}

.ride-list__accept-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.empty-message {
  padding: 0.75rem;
}

.ride-detail {
  margin-left: 1%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 16px;
  height: 53vh;
  position: fixed;
  top: 44vh;
  width: 98%;
  z-index: 999;
  border-radius: 56px;
  display: flex;
  flex-direction: column;
}

.ride-detail__user-avatar { 
  display: grid;
  justify-content: center;
  padding-bottom: 1vh;
  padding-top: 2vh;
}

.ride-detail__user-avatar img {
  width: 21vw;
  height: 9vh;
}

.ride-detail__user-info {
  color: #000;
  font-weight: 600;
  text-align: center;
}

.ride-detail__actions {
  padding: 4vh;
}

.ride-detail__btn {
  background: #000;
  border: none;
  color: #fff;
  font-size: 1.8vh;
  margin: 0.5vh 0;
  outline: none;
  padding: 1.75vh 1vh;
  width: 100%;
}

.ride-detail__btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.ride-detail__result-label {
  font-size: 1.8vh;
  padding-bottom: 1vh;
}

.ride-detail__result-label span {
  color: #000;
  font-weight: 600;
}
.map-container {
  height: 1000px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.leaflet-container{
  height:100vh;
}
.opening-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.logo-container {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  width: 50vw;
}

.logo-container img {
  max-width: 100%;
}

.title-container {
  text-align: center;
  margin-bottom: 3em;
  width: 53vw;
}

.title-container h1 {
  font-size: 2.7rem;
  margin-bottom: 1rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ride-button,
.drive-button {
  background-color: #fff;
  color: #000;
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em 3em;
  border: none;
  border-radius: 3em;
  margin-bottom: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ride-button:hover,
.drive-button:hover {
  background-color: #ddd;
}
.container {
  max-width: 480px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 5px;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding:3px;
  border-radius:6px;
}

.search-btn {
  background-color: #ff2d55;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left:5px;
}

.main-content {
  padding: 20px;
}

.image-container {
  height: 240px;
  margin-bottom: 20px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius:20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  margin-bottom: -10px;
  margin-left:7px;
}
.scroll-item {
  flex: 0 0 50%;
  max-width: 240px;
  margin-left:2px;
  margin: 10px;
  padding: 10px;
  scroll-snap-align: start;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.scroll-item img {
  width: 100%;
  height: 163px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.scroll-item .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.scroll-item .description {
  font-size: 14px;
  color: #666;
}

@media(max-width:549px){
  .img{
    display:none;
  }
  .login__container{
    overflow: hidden;
  }
  .login__welcome{
    margin-top:18vh;
  }
  .login__form-container{
    position:absolute;
    bottom:6vh;
    margin-left:6vw;
    margin-bottom:0;
  }
}
@media(min-width:550px)
{
  .img{
    width:50vw;
  }
  .login__container {
    flex-direction:row;
  }
  .overall{
    width:50vw;
  }
  .login__welcome{
    margin-top:10vh;
  }
  .login__logo{
    padding-left:0;
    margin:auto;
    width:auto;
  }
  .login__welcome p{
    font-size:4vh;
    padding-left:0;
    width:auto;
  }
  .login__form {
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    padding: 1.25em;
    width: 30vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 52vh;
  }
}
